body {
  background-image: url("../coding.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}
img.work-in-progress {
  position: fixed;
  bottom: 10px;
  right: 10px;
  max-width: 20em;
}
