/* GENERAL */
.mb-2rem {
    margin-bottom: 2rem !important;
}

/* BG */
body.is-preload #bg:before {
    background-color: #2C3E50;
}

video {
    position: absolute;
    min-width: 100%;
    /* min-height: 100%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);        
}

#bg:before {
	background-image: linear-gradient(to top, rgba(44, 62, 80, 0.5), rgba(44, 62, 80, 0.5)), url("../../images/overlay.png"); */
}


/* HEADER */
#header .content .inner {
    padding: 2rem 1rem;
}
@media screen and (max-width: 736px)
{
    #header .content .inner {
        padding: 1.5rem .5rem;
    }
}

/* BRAND LOGO */
.top-logo {

}
.top-logo img {
    width: 21rem;
    height: 7rem;
}
@media screen and (max-width: 736px)
{
    .top-logo img {
        width: 20rem;
        height: 6rem;
    }
}

/* SLOGAN TEXT */
.inner p {
    margin: 0;
}

/* NAV BUTTONS */
#header nav ul li {
    width: 8rem;
}
#header nav ul li a {
    height: auto;
    padding: initial;
    line-height: 1.25rem;
}
.nav-btn {

}
.nav-btn p {
    margin-bottom: 0px;
    line-height: 1.75rem;
}
.nav-btn-icon {
    padding-top: .75rem;
    height: 5rem;
}
@media screen and (max-width: 480px) {
    #header nav ul li {
        width: auto!important;
        border-left: 0;
        border-top: solid 1px #ffffff;
    }
}