/* GENERAL */
.mb-2rem {
    margin-bottom: 2rem !important;
}

/* LOADER */
#bg:before {
    /* loading fake time - .25s */
    transition-delay: 2.25s; 
}
#header .content .inner {
    /* loading fake time + .25s */
    transition-delay: 2.75s;
}
.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 100%;
}
.progress-value {
    animation: load 1.5s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0px;
}
@keyframes load {
    /* faking the loading ease */
    0% { width: 0; }
    80% { width: 65%; }
    100% { width: 100%; }
}

/* BG */
body.is-preload #bg:before {
    background-color: #2C3E50;
}

video {
    position: absolute;
    min-width: 100%;
    /* min-height: 100%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);        
}

#bg:before {
	background-image: linear-gradient(to top, rgba(44, 62, 80, 0.5), rgba(44, 62, 80, 0.5)), url("../../images/overlay.png"); */
}


/* HEADER */
#header .content .inner {
    padding: 2rem 1rem;
}
@media screen and (max-width: 736px)
{
    #header .content .inner {
        padding: 1.5rem .5rem;
    }
}

/* BRAND LOGO */
.top-logo {

}
.top-logo img {
    width: 21rem;
    height: 7rem;
}
@media screen and (max-width: 736px)
{
    .top-logo img {
        width: 20rem;
        height: 6rem;
    }
}

/* SLOGAN TEXT */
.inner p {
    margin: 0;
}

/* NAV BUTTONS */
#header nav ul li {
    width: 8rem;
}
#header nav ul li a {
    height: auto;
    padding: initial;
    line-height: 1.25rem;
}
.nav-btn {

}
.nav-btn p {
    margin-bottom: 0px;
    line-height: 1.75rem;
}
.nav-btn-icon {
    padding-top: .75rem;
    height: 5rem;
}
@media screen and (max-width: 480px) {
    #header nav ul li {
        width: auto!important;
        border-left: 0;
        border-top: solid 1px #ffffff;
    }
}

/* COOKIE BANNER */
.cookies-alert {
    /* opacity: .85; */
    background-color: rgba(44, 62, 80);
    transition: opacity .15s linear;
    padding: .75rem 1.25rem;
    padding-right: 4rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: block;
    z-index: 99999;
}
#cookies-banner > button:first-child {
    box-shadow: none;
}

